body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.sec_header {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.sec_body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}