#game_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden; */
}

#game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.box {
    box-sizing: border-box;
    text-align: center;
    border-style: solid;
}

@media screen and (min-width: 0px) {
    .box {
        min-width: 50px;
        min-height: 50px;
        font-size: 30px;
        padding: 5px;
    }
}

@media screen and (min-width: 650px) {
    .box {
        min-width: 75px;
        min-height: 75px;
        padding: 10px;
        font-size: 40px;
    }
}

.white {
    background-color: #fff;
}

.yellow {
    background-color: #b59f3b;
}

.green {
    background-color: #538d4e;
}
